### Question 3


Housing

Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import random

Step 2. Create 3 differents Series, each of length 100, as follows:

    The first a random number from 1 to 4
    The second a random number from 1 to 3
    The third a random number from 10,000 to 30,000

In [2]:
list1 = []
for i in range(100):
    list1.append(random.randint(1,4) + random.random())
    
series1 = pd.Series(list1)

list2 = []
for i in range(100):
    list2.append(random.randint(1,3) + random.random())
    
series2 = pd.Series(list2)

list3 = []
for i in range(100):
    list3.append(random.randint(10000,30000) + random.random())
    
series3 = pd.Series(list3)

Step 3. Create a DataFrame by joinning the Series by column

In [3]:
dFrame1 = pd.DataFrame({'first':series1, 'second':series2, 'third':series3})
print(dFrame1)

       first    second         third
0   2.133133  3.121426  16609.637896
1   4.541347  2.802105  18968.484581
2   1.694262  3.977305  29161.439104
3   2.615195  3.975069  12928.165762
4   2.726466  3.121876  26039.033501
..       ...       ...           ...
95  2.276186  1.558600  18006.980733
96  1.467994  1.882911  27973.985250
97  1.117710  3.022457  10033.026559
98  1.665619  3.448573  15504.822900
99  3.013794  3.026181  28435.363229

[100 rows x 3 columns]

Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
dFrame2 = pd.DataFrame({'bedrs':series1, 'bathrs':series2, 'price_sqr_meter':series3})
print(dFrame2)

       bedrs    bathrs  price_sqr_meter
0   2.133133  3.121426     16609.637896
1   4.541347  2.802105     18968.484581
2   1.694262  3.977305     29161.439104
3   2.615195  3.975069     12928.165762
4   2.726466  3.121876     26039.033501
..       ...       ...              ...
95  2.276186  1.558600     18006.980733
96  1.467994  1.882911     27973.985250
97  1.117710  3.022457     10033.026559
98  1.665619  3.448573     15504.822900
99  3.013794  3.026181     28435.363229

[100 rows x 3 columns]

Step 5. Create a one column DataFrame with the values of the 3 Series and assign it
to 'bigcolumn'

In [5]:
dFrame3 = pd.DataFrame({'bigcolumn': pd.concat([series1, series2, series3])})
print(dFrame3)

       bigcolumn
0       2.133133
1       4.541347
2       1.694262
3       2.615195
4       2.726466
..           ...
95  18006.980733
96  27973.985250
97  10033.026559
98  15504.822900
99  28435.363229

[300 rows x 1 columns]

Step 6. Ops it seems it is going only until index 99. Is it true?

In [6]:
print(len(dFrame3))

300

Clearly as seen above that is not true. the individual data Series remember their indices from before the concatenation.


Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
dFrame3_true =  pd.DataFrame({'bigcolumn': pd.concat([series1, series2, series3], ignore_index = True)})
print(dFrame3_true)

        bigcolumn
0        2.133133
1        4.541347
2        1.694262
3        2.615195
4        2.726466
..            ...
295  18006.980733
296  27973.985250
297  10033.026559
298  15504.822900
299  28435.363229

[300 rows x 1 columns]

### Question 4


Wind Statistics

The data have been modified to contain some missing values, identified by NaN. Using pandas should make this exercise easier, in particular for the bonus question. You should be able to perform all of these operations without using a for loop or other looping construct.

The data in 'wind.data' has the following format:

Yr Mo Dy RPT VAL ROS KIL SHA BIR DUB CLA MUL CLO BEL MAL

61 1 1 15.04 14.96 13.17 9.29 NaN 9.87 13.67 10.25 10.83 12.58 18.50 15.04

61 1 2 14.71 NaN 10.83 6.50 12.62 7.67 11.50 10.04 9.79 9.67 17.54 13.83

61 1 3 18.50 16.88 12.33 10.13 11.17 6.17 11.25 NaN 8.50 7.67 12.75 12.71

The first three columns are year, month, and day. The remaining 12 columns are average windspeeds in knots at 12 locations in Ireland on that day.

Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import datetime

Step 2. Import the dataset from this address https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data

In [18]:
WindStats = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data", delim_whitespace=True)
print(WindStats)

      Yr  Mo  Dy    RPT    VAL    ROS    KIL    SHA    BIR    DUB    CLA  \
0     61   1   1  15.04  14.96  13.17   9.29    NaN   9.87  13.67  10.25
1     61   1   2  14.71    NaN  10.83   6.50  12.62   7.67  11.50  10.04
2     61   1   3  18.50  16.88  12.33  10.13  11.17   6.17  11.25    NaN
3     61   1   4  10.58   6.63  11.75   4.58   4.54   2.88   8.63   1.79
4     61   1   5  13.33  13.25  11.42   6.17  10.71   8.21  11.92   6.54
...   ..  ..  ..    ...    ...    ...    ...    ...    ...    ...    ...
6569  78  12  27  17.58  16.96  17.62   8.08  13.21  11.67  14.46  15.59
6570  78  12  28  13.21   5.46  13.46   5.00   8.12   9.42  14.33  16.25
6571  78  12  29  14.00  10.29  14.42   8.71   9.71  10.54  19.17  12.46
6572  78  12  30  18.50  14.04  21.29   9.13  12.75   9.71  18.08  12.87
6573  78  12  31  20.33  17.41  27.29   9.59  12.08  10.13  19.25  11.63

        MUL    CLO    BEL    MAL
0     10.83  12.58  18.50  15.04
1      9.79   9.67  17.54  13.83
2      8.50   7.67  12.75  12.71
3      5.83   5.88   5.46  10.88
4     10.92  10.34  12.92  11.83
...     ...    ...    ...    ...
6569  14.04  14.00  17.21  40.08
6570  15.25  18.05  21.79  41.46
6571  14.50  16.42  18.88  29.58
6572  12.46  12.12  14.67  28.79
6573  11.58  11.38  12.08  22.08

[6574 rows x 15 columns]

Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing


Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.


Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].



Step 6. Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.


Step 7. Compute how many non-missing values there are in total.


Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times. A single number for the entire dataset.


Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days A different set of numbers for each location.

Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day. A different set of numbers for each day.



Step 11. Find the average windspeed in January for each location. Treat January 1961 and January 1962 both as January.


Step 12. Downsample the record to a yearly frequency for each location.


Step 13. Downsample the record to a monthly frequency for each location.

In [10]:

Step 14. Downsample the record to a weekly frequency for each location.

SyntaxError: invalid syntax (<ipython-input-10-9e18f0f36774>, line 1)

Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

### Question 5

Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

Step 2. Import the dataset from this address.

In [ ]:
chipotle = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter='\t')



Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = chipotle



Step 4. See the first 10 entries

In [ ]:
chipo.iloc[0:10]



Step 5. What is the number of observations in the dataset?

In [ ]:
len(chipo)



Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)



Step 7. Print the name of all the columns.

In [ ]:
[print(column) for column in chipo.columns]



Step 8. How is the dataset indexed?

by order_id where all items with the same id were ordered by the same person



Step 9. Which was the most-ordered item?

In [ ]:
filtered = chipo[['item_name','quantity']]
print(filtered.groupby('item_name').sum().sort_values('quantity', ascending=False).iloc[:1])

Chicken Bowl was the most ordered item.



Step 10. For the most-ordered item, how many items were ordered?

As seen above 761 Chicken Bowls were ordered.



Step 11. What was the most ordered item in the choice_description column?

In [ ]:
filtered = chipo[['choice_description','quantity']]
print(filtered)



Step 12. How many items were orderd in total?


Step 13.

    Turn the item price into a float
    Check the item price type
    Create a lambda function and change the type of item price
    Check the item price type


Step 14. How much was the revenue for the period in the dataset?


Step 15. How many orders were made in the period?


Step 16. What is the average revenue amount per order?


Step 17. How many different items are sold?

### Question 6

Create a line plot showing the number of marriages and divorces per capita in the U.S. between 1867 and 2014. Label both lines and show the legend.

Don't forget to label your axes!

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

marr_and_divor = pd.read_csv('us-marriages-divorces-1867-2014.csv')

columns = marr_and_divor.columns.drop(['Year','Population','Marriages','Divorces'])
x_data = marr_and_divor['Year']

fig, ax = plt.subplots()

for column in columns:
    ax.plot(x_data, marr_and_divor[column])

ax.set_title('marriages and divorces per capita in the U.S. between 1867 and 2014')
ax.legend(columns)

### Question 7

Create a vertical bar chart comparing the number of marriages and divorces per capita in the U.S. between 1900, 1950, and 2000. 

Don't forget to label your axes!

### Question 8

Create a horizontal bar chart that compares the deadliest actors in Hollywood. Sort the actors by their kill count and label each bar with the corresponding actor's name.

Don't forget to label your axes!

In [ ]:
actorKills = pd.read_csv('actor_kill_counts.csv')

actorKills.plot.barh(x='Actor',y='Count')
print(actorKills)

### Question 9

Create a pie chart showing the fraction of all Roman Emperors that were assassinated.

Make sure that the pie chart is an even circle, labels the categories, and shows the percentage breakdown of the categories.

In [ ]:
reignsData = pd.read_csv("roman-emperor-reigns.csv")
print(reignsData.groupby('Cause_of_Death').count())

### Question 10

Create a scatter plot showing the relationship between the total revenue earned by arcades and the number of Computer Science PhDs awarded in the U.S. between 2000 and 2009.

Don't forget to label your axes!

Color each dot according to its year

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

arc_vs_cs = pd.read_csv('arcade-revenue-vs-cs-doctorates.csv',names=['Year', 'Total Arcade Revenue (billions)', 'Computer Science Doctorates Awarded (US)'])

fig, ax = plt.subplots()

ax.scatter(arc_vs_cs['Total Arcade Revenue (billions)'], arc_vs_cs['Computer Science Doctorates Awarded (US)'], c=arc_vs_cs['Year']-2000)

ax.set_title('Arcade versus CS Doctorates Dataset')
ax.set_xlabel('Total Arcade Revenue (billions)')
ax.set_ylabel('Computer Science Doctorates Awarded (US)')